# python
*.egg-info
*.eggs
*.egg
.venv
*.pyc
.tox

# IDEs
.idea
.settings
.project

# Doc
doc/_build

# Editors
*.swp
*~

# Bundle
Gemfile.lock
.bundled_gems
.bundle

# Misc
*.log
.librarian
AUTHORS
ChangeLog
